

:root {
    --background-dark: #2E2F42;
    --background-light: #ffffff;
    --color-titel: #2E2F42;
    --color-link: #434455;
    --color-text: #434455;
    --color-btn-hero: #4D5AE5;
    --color-brn-hover:#404BBF;
    --color-btn-filter: #F4F4FD;
    --color-link-hover: #4D5AE5;
    --hedelr-logo-web: #4D5AE5;
    --header-logo: #2E2F42;
    --footer-text: #E7E9FC;
    --footer-logo: #F4F4FD;
    --section-filters-button:#4D5AE5;
    --section-team: #F4F4FD;


}

.subtitel{
font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-titel);
}

.text{
    font-size: 16px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--color-text);
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-light);
}

/* header */

/* .header-navigation {

} */

.header-logo {
font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--header-logo);
    text-decoration: none;
}

.hedelr-logo-web {
    color: var(--hedelr-logo-web);

}

.header-list {
    list-style: none;
} 

/* .header-item {
    
} */

.header-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-link);
    text-decoration: none;

}

.header-link:hover, .header-link:focus
{color: var(--color-link-hover) }


.header-mail {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--color-link);
        text-decoration: none;
}
.header-mail:hover, .header-mail:focus,
.header-tel:hover,
.header-tel:focus
{color: var(--color-btn-hero)}

.header-tel {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--color-link);
        text-decoration: none;
}

/* main */

/* hero */
.hero {
    background-color: var(--background-dark);
}

.hero-titel {
        font-size: 56px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--background-light);
}

.hero-button {
    font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.33;
        align-items: center;
        letter-spacing: 0.04em;
        color: var(--background-light);
        background-color: var(--color-btn-hero);
        cursor: pointer;
}

.hero-button:hover, .hero-button:focus {
    background: var(--color-brn-hover);
}


/* --------benefits-------- */

.hide {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* .aside {
} */

/* .aside-titel {
} */


.aside-list {
    list-style: none;
} 

/* .aside-item {
} */

/* .aside-subtitel {
}  */
/* .aside-text {
} */

/* What are we doing */

/* .section-work {} */

.section-work-list{
    list-style: none;
}

.section-work-titel {
    font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--color-titel);
}

/* .section-work-img {} */

/* Our Team */

.section-team {
    background-color: var(--section-team);
}

.section-team-titel {
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--color-titel)
}

.section-team-list {
    list-style: none;
}

/* .section-team-item {

} */

/* .section-team-img {} */

.section-team-subtitel {
    text-align: center;
}

.section-team-text {
    text-align: center;
}

/* footer */

.footer {
        background-color: var(--background-dark);
}

.footer-logo {
font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--footer-logo);
    text-decoration: none;
}

.footer-logo-web { 
    color: var(--hedelr-logo-web);
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--footer-text)
}

/* filters */

/* .section-filters {
} */
/* .section-filters-titel {
} */
.section-filters-list {
    list-style: none;
}
/* .section-filters-item {
} */
.section-filters-button {
    font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--section-filters-button);
        cursor: pointer;
}
.section-filters-button:hover, .section-filters-button:focus{
    color: var(--background-light);
    background: var(--color-brn-hover);
}
/* ------portfolio------ */

/* .section-portfolio {} */

/* .section-portfolio-titel {} */

.section-portfolio-list {
    list-style: none;
}

/* .section-portfolio-item {} */

/* .section-portfolio-img {} */

/* .section-portfolio-subtitel {
} */

/* .section-portfolio-text {
} */